# Custom docker file template not located inside a project
{{-
  $imageTag :=
    get "GO_VERSION" .Args |
    printf "%s-alpine"
}}
FROM golang:{{ $imageTag }} as builder

LABEL custom=field

COPY . /go

RUN go build -v -o app

FROM alpine

COPY --from=builder /go/app /app

ENTRYPOINT [ "/app" ]
